# lives in /lib/systemd/system/auto_updater.service

[Unit]
Description=auto_updater will automatically run the following apt actions: update, upgrade, autoclean, autoremove.

[Service]
Type=oneshot
ExecStart=/usr/bin/auto_updater -a -r 03:00

# options for auto_updater
# -a automatically reboot if needed (does not reboot by default)
# -r when to reboot if needed (now, 3:00 (3am on 24 hr clock), 18:00 (6pm on 24 hr clock), +2h)
# -m do not run autoremove (runs by default)
# -c do not run clean (runs by default)

# systemd logs to journal by default, and all writes to stdout are visible in the journal
# run the following to view logs for this service:
#       journalctl -u auto_updater.service
